<%=  form_tag('rooms/:id/talks/post', :remote => true) do %>
<div class="talk-user">
  <div class="talk-user-image"><%= image_tag finduser(talks[0].room.id).avatar.url(:thumb), class: "user-thumb" %></div>
  <div class="talk-user-name"><%= finduser(talks[0].room.id).name %></div>
  <div class="talk-session" id="talk-session-id">
<!-- <div class="talk-session-date"> -->
  <!-- <div class="session-date"><p>3月23日</p></div> -->
    <% talks.each do |talk| %>
      <%= hidden_field_tag 'room_id', talk.room.id %>
      <% if !(talk.sender_id == current_user.id) && !(talk.nil?)%>
        <div class="talk-session-you">
          <p class="talk-content-you"><%= talk.message %></p>
          <div><%= simple_time(talk.created_at) %></div>
        </div>
      <% elsif talk.sender_id == current_user.id && !(talk.nil?)%>
        <div class="talk-session-me">
          <p class="talk-content-me"><%= talk.message %></p>
          <span><%= simple_time(talk.created_at) %></span>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<div class="talk-text">
  <%= hidden_field_tag 'sender_id', current_user.id %>
  <%= text_field_tag 'message' %>
  <%= submit_tag 'send',id: 'send'%>
<% end %>
</div>
  <script>
    var pusher = new Pusher('<%= @pusher_access_key %>');
  </script>


