<header>
  <div class="head-outer">
    <div class="icon">
      LINE
    </div>
    <div class="user">
      <p class="name"><%= current_user.name %></p>
    </div>
    <div class="sankaku"></div>
    <div class="info">
      <ul>
        <li>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
        </li>
        <li>
          <%= link_to '編集', edit_user_registration_path %>
        </li>
        <li>
        </li>
      </ul>
    </div>
  </div>
</header>
<div clss="container">
  <div class="main-outer">
    <div class="outer-left">
      <div class="search-form">
        <input class="input-search" type="text" placeholder="トークルームを検索する">
      </div>
      <div class="talk-list">
        <ul class="content">
          <li>
            <ul class="talklist" id="room-list" >
             <%= render partial: 'rooms/index', collection: @rooms ,as: 'room'%>
            </ul>
          </li>
          <li class="hide">
            <ul class="talklist" id="friend-list">
              <%= render partial: 'friendships/index', collection: @friendships ,as: 'friendship'%>
            </ul>
          </li>
          <li class="hide">
            <ul class="talklist" id="user-list">
              <%= render partial: 'users/index', collection: @users , as: 'user'%>
            </ul>
          </li>
        </ul>
      </div>
      <div class="talk-tab">
        <ul class="talk-tab-ul tab">
          <li class="talk-tab-li select">
            <%= link_to 'トーク',rooms_path ,remote: true %>
          </li>
          <li class="talk-tab-li" >
            <%= link_to 'フレンド',friendships_path ,remote: true %>
          </li>
          <li class="talk-tab-li">
            <%= link_to 'ユーザー',users_path , remote: true %>
          </li>
        </ul>
      </div>
    </div>
    <div class="outer-right" id="outer-right">
      <% if request.xhr? %>
        <%= render partial: 'talks/show', locals: { talks: @talks} %>
        <%= render partial: 'users/show', locals: { user: @user} %>
        <%= render partial: 'friendships/show',  locals: { user: @user} %>
      <% end %>
    </div>
  </div>
</div>
