<!DOCTYPE html>
<html>
<head>
  <title>Freee</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://js.pusher.com/4.0/pusher.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>

</body>
</html>
